


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100%;
  max-width: 400px;
}

.login-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  border-radius: 50%;
}


.register-card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.register-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.social-login {
  margin-top: 1rem;
  text-align: center;
}