{% extends 'swapshop/base.html' %}

{% block contant%}
<div class="center">
    <div class="register-card">
        <div class="text-center">
        <img src="https://via.placeholder.com/80" alt="User Avatar">
        <h3 class="mb-3">Register</h3>
        </div>
        <form id="registerForm">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Full Name" required />
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email" required />
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Username" required />
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" required />
        </div>
        <button type="submit" class="btn btn-success w-100">Signup</button>
        </form>

        <div class="social-login">
            <p><a href="login.html">login </a></p>
        </div>
    </div>
</div>

{% endblock contant%}